@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Цей сайт був створений Оленою та Дмитрієм в рамках вивчення платформи ASP.NET. Тут ви можете купити товари, дізнатися про постачальників та багато чого ще!.</p>
